extends layout/app

block page 
    include chunk/header

    h1.title Главная
    
    ul.news 
        each item in news 
            li= item.name

    i Lorem, ipsum dolor sit amet consectetur adipisicing elit. Veritatis cumque nostrum quaerat magnam accusamus vel optio? Nisi repudiandae nostrum sed consequuntur! Nisi quo mollitia dignissimos iure et consequatur necessitatibus veniam?

    include chunk/footer