header 
    .header__wrapper
        img.header__logo(src="../../img/logo.svg", alt="logo")
        nav.header__nav 
            ul.header__nav-items 
                li.header__nav-item
                    a.header__nav-link(href="#") О компании
                li.header__nav-item
                    a.header__nav-link(href="#") Услуги
                li.header__nav-item
                    a.header__nav-link(href="#") Проекты
                li.header__nav-item
                    a.header__nav-link(href="#") Наши заказчики 
                li.header__nav-item
                    a.header__nav-link(href="#") Поставщики
                li.header__nav-item
                    a.header__nav-link(href="#") Контакты
        .header__contacts-blog 
            a(href="tel:+74955857496")  +7 495 585 74 96
            a(href="mailto:info@link-tech.ru") info@link-tech.ru
        a.header__mail-icon(href="mailto:info@link-tech.ru") 
            img(src="../../img/mail.svg", alt="mail")