.services
    .services__wrapper
        h1.title.services__title Наши услуги
        .services__wrap 
            .services__wrap-item
                h3.subtitle.services__subtitle Монтаж инженерных сетей
                img.services__wrap-icon(src="../../img/ico-ser-1.svg", alt="")
                p 18 услуг
            .services__wrap-item
                h3.subtitle.services__subtitle Проектирование
                img.services__wrap-icon(src="../../img/ico-ser-2.svg", alt="")
                p 9 услуг
            .services__wrap-item
                h3.subtitle.services__subtitle Ремонт офисов
                img.services__wrap-icon(src="../../img/ico-ser-3.svg", alt="")
                p 3 услуг
            .services__wrap-item
                h3.subtitle.services__subtitle IT-консалтинг
                img.services__wrap-icon(src="../../img/ico-ser-4.svg", alt="")
                p 3 услуг
            .services__wrap-item
                h3.subtitle.services__subtitle Поставка офисной техники и оборудования
                img.services__wrap-icon(src="../../img/ico-ser-5.svg", alt="")
            .services__wrap-item-contact
                h3.subtitle.services__subtitle Хотите  <span>узнать стоимость , получить консультацию</span> или <span>помощь</span> в выборе услуг?
                button.services__wrap-item-btn Написать нам