.subheader 
    .subheader__wrapper
        h1.title.subheader__title IT-консалтинг
        ul.subheader__nav-items
            li.subheader__nav-item  Разработка IT-системы предприятия
            li.subheader__nav-item  Аудит ресурсов
            li.subheader__nav-item  Консультация по использлванию IT
            li.subheader__nav-item  Консультации по информационной безопасности
        .subheader__progressbar 
            .progressbar__progress-num 
                span 2
                span / 4
            .progressbar__progress-line 
            .progressbar__progress-switch 
                img(src="../../img/arrow-cir-l.svg", alt="arrow-cir-left")
                img(src="../../img/arrow-cir-r.svg", alt="arrow-cir-right")